{% extends 'base.html.twig' %}

{% block title %}Edit Depenses{% endblock %}

{% block body %}
    <h1>Edit Depenses</h1>

    {{ include('depenses/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('depenses_index') }}">back to list</a>

    {{ include('depenses/_delete_form.html.twig') }}
{% endblock %}
